<template>

<div class="p-d-flex p-flex-column p-flex-md-row  p-jc-start p-ai-start">
    <div class="item p-mb-2 p-mr-2" alignLeft>City:</div>
    <div class="item p-mb-2 p-mr-2" alignLeft><Dropdown v-model="city.id" :options="cities" optionLabel="label" optionValue="id" placeholder="Select a City" showClear="true" :filter="true" filterPlaceholder="Find City" v-on:change="changeCity" data-cy="citySelect"/></div>
</div>  

<div class="p-d-flex p-flex-column p-flex-md-row  p-jc-start p-ai-start" v-if="city.id>0&&weather&&weather.weather[0].main!=undefined">
    <div class="item p-mb-2 p-mr-2" alignLeft><img src="https://bmcdn.nl/assets/weather-icons/v1.5/overcast-day.svg" class="inlineIcon"/>{{weather.weather[0].main}}</div>
    <div class="item p-mb-2 p-mr-2 ml2" alignLeft>{{weather.weather[0].description}}</div>
    <div class="item p-mb-2 p-mr-2" alignLeft><img src="https://bmcdn.nl/assets/weather-icons/v1.5/thermometer.svg" class="inlineIcon"/>{{weather.main.temp}}º C</div>
    <div class="item p-mb-2 p-mr-2" alignLeft><img src="https://bmcdn.nl/assets/weather-icons/v1.5/wind.svg" class="inlineIcon"/>Wind {{weather.wind.speed}} m/sec</div>
    <div class="item p-mb-2 p-mr-2" alignLeft><Button :label="forecastLabel.label" icon="pi pi-cloud" iconPos="right" class="p-button-rounded" v-on:click="getForecast" data-cy="btnGetForecast"/></div>
</div>
<div v-if="forecastLabel.open&&city.id>0">
<table align="center" id="forecastData">
  <caption>Forecast: {{forecastSelected.index}}</caption>
	<thead>
    <tr>
      <th>Date</th>
      <th>Temp</th>
      <th>Min. Temp</th>
      <th>Max. Temp</th>
      <th>Wind</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody class="tableBody">
    <tr v-for="(item, index) in forecastSelected.data"  :key="index">
      <td>{{formatDate(item.dt)}}</td>
      <td>{{item.main.temp}} ºC</td>
      <td>{{item.main.temp_min}} ºC</td>
      <td>{{item.main.temp_max}} ºC</td>
      <td>{{item.wind.speed}} m/sec</td>
      <td>{{item.weather[0].description}}</td>
    </tr>
  </tbody>

</table>
<div class="navbar">
<Button v-for="(item, index) in forecast"  :key="item.dt" :label="index" iconPos="right" class="p-button-rounded" :class="{ 'p-button-success': forecastSelected.index == index }" v-on:click="switchForecast(index)"  :data-cy="'navbarBtn'+index"/>
</div>
</div>
</template>

<script lang="ts">
import { ref, defineComponent, onMounted } from 'vue';
import { format } from 'date-fns';
import Dropdown from 'primevue/dropdown';
import Button from 'primevue/button';
import WeatherService from '../../service/WeatherService';
export default defineComponent({
  name: 'WeatherForm',
  components: {
    Dropdown, Button
  },
  props: {

  },
  setup(){
      onMounted(async () => {
      cities.value = await weatherService.value.getCitiesList();
    })
    const city = ref({id: 0});
    const forecastLabel = ref({label: 'See Forecast', open: false}); 
    const weather = ref();
    const forecast = ref();
    const forecastSelected = ref({index: "", data: {}});
    const cities:any = ref();
    const weatherService = ref(new WeatherService())

    
    const changeCity = async(e: any) =>{
      (e.value == null)?city.value.id = 0:"";
      if(city.value.id>0){
        weather.value = await weatherService.value.getCurrentWeather(e.value);
      }
      resetForm();
    }

    const getForecast = async() =>{

      if(!forecastLabel.value.open){
        forecastLabel.value.label = "Close";
        forecastLabel.value.open = true;
        forecast.value = await weatherService.value.getForecast(city.value.id);
        await switchForecast(Object.keys(forecast.value)[0]);
      }else{
        forecastLabel.value.label = "See Forecast";
        forecastLabel.value.open = false;
        return false;
      }
      
    }

    const switchForecast = async(index:string) =>{
      forecastSelected.value = {index: index, data: forecast.value[index]};  
    }

    const formatDate = (date:number) =>{
      return format(date*1000, "d MMM Kaaa");     
    }

    const resetForm = () =>{
        forecastLabel.value.label = "See Forecast";
        forecastLabel.value.open = false;
        forecastSelected.value = {index: '', data: {}};

    }

    return { forecast, forecastSelected, weather, cities, city, changeCity, getForecast, forecastLabel, switchForecast, formatDate }
  }
})
</script>

<style scoped>
[alignLeft]{
  text-align: left;
}
.item{
  padding: 5px;
}
.navbar Button{
  margin-left: 5px;
  margin-top: 5px;
}

.inlineIcon{
  width: 2rem;
  height: auto;
  vertical-align: middle;
}

.ml2{
  margin-left: 2rem 
}

#forecastData {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
}

#forecastData td, #forecastData th {
  border: 1px solid #ddd;
  padding: 8px;
}

#forecastData caption{
  padding: 8px;
  font-size: 1.3rem;
}



#forecastData tr:nth-child(even){background-color: #f2f2f2;}

#forecastData tr:hover {background-color: #ddd;}

#forecastData th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
</style>
