<template>
  <h1><img src="https://bmcdn.nl/assets/weather-icons/v1.5/sunset.svg" class="imgLogo">Weather forecast</h1>
  <weather-form/>
</template>

<script lang="ts">
import { ref, defineComponent } from 'vue'
import WeatherForm from './WeatherForm.vue'
export default defineComponent({
  name: 'WeatherApp',
  components: {
    WeatherForm
  },
  props: {

  },
  setup: () => {

  }
})
</script>

<style scoped>
  .imgLogo{
        width: 6rem;
        height: auto;
        vertical-align: middle;
  }
</style>
