<template>
  <div>
  <weather-app/>
  
  </div>
</template>

<script lang="ts">
import { defineComponent, onMounted, ref } from 'vue'
import WeatherApp from './components/weatherApp/WeatherApp.vue'
export default defineComponent({
  name: 'App',
  components: {
    WeatherApp
  },
  setup(){
    
    return {  }
  }

})
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
